@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

body{
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

p{
  animation: 3s slidein;
}

@keyframes slidein{
  from{
    margin-left: 100%;
    width: 200%;
  }

  to{
    margin-left: 0%;
    width: 100%;
  }
}