@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(208, 208, 208);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;;
}

.container{
  background-color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
            0 2px 2px rgba(0,0,0,0.12), 
            0 4px 4px rgba(0,0,0,0.12), 
            0 8px 8px rgba(0,0,0,0.12),
            0 16px 16px rgba(0,0,0,0.12);
}

h1{
  margin-bottom: 3px;
  margin-top: 15px;
}

p{
  color: rgb(108, 108, 108);
}

button{
  font-family: inherit;
  background-color: rgb(91, 91, 230);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(55, 55, 230);
  cursor: pointer;
}