@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 229, 229);
  font-family: "Noto Sans", sans-serif;
}

ul{
  display: flex;
  padding: 30px;
}

li{
  list-style: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

li:hover {
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease;
}

img{
  width: 150px;
  padding: 10px;
}

.title{
  font-weight: bold;
  font-size: 20px;
  color: #184A45FF;
}

.singer{
  font-size: 15px;
  color: #FC766AFF;
}

.release-year{
  color: #B0B8B4FF;
  font-size: 11px;
}
