body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.ball{
  background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: moveAround 8s linear infinite;
  position: absolute;
}

@keyframes moveAround {
  0%   { top: 0; left: 0; }
  25%  { top: 0; left: calc(100vw - 50px); }
  50%  { top: calc(100vh - 50px); left: calc(100vw - 50px); }
  75%  { top: calc(100vh - 50px); left: 0; }
  100% { top: 0; left: 0; }
}
